<script>
  var object = {};
  _.extend(object, Backbone.Events);
  
  object.on('hello', function(who) {
    $('#people').append('<li>こんにちは、' + who + 'さん！</li>');
  });
  
  function hello() {
    var name = $('#name').val();
    object.trigger('hello', name);
  }
</script>
